:root {
    --branco-principal: #FFFFFF;
    --azul-principal: #002F52;
    --azul-secundario: #EBECEE;
    --laranja: #EB9B00;
    --preto: #000000;
    --cinza-escuro: #474646;
    --cinza-medio: #858585;
    --cinza-claro: #C4C4C4;
}

.body {
    margin: 0;
    padding: 0;
    background-color: var(--branco-principal);
    color: var(--preto) ;
}

.menu {
    display: flex;
    margin: 1em 0;
}

.menu_logo {
    width: 264px;
    height: 40px;
}

.menu_lista_link {
   display: flex;
   list-style: none;
   margin: 0;
   padding-left: 0;
}

.menu_lista_perfil {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 20em;
    align-items: center;
}

.menu_texto {
    margin-left: 2em;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    padding: 20px 0; /* Espaçamento interno */
    background-color: var(--azul-principal);
    color: var(--branco-principal);

}

.titulo_caixa {
    border: 1px solid;
    border-radius: 2em;
    padding: 1em;
}

.sub_titulo {
    color: var(--laranja);
    text-align: center;

}

.ultimos_lancamentos {
    
    background-color: var(--azul-secundario);
    display: flex;
    padding: 4em 1em;
}

.ultimos_lancamentos_livros {
    padding: 1em;
    margin: 1em;
    
}


.ultimos_lancamentos_quadro {
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    border-color: var(--branco-principal);
    background-color: var(--branco-principal);
    padding: 1em;
    margin: 1em;

}

.ultimos_lancamentos_quadro_texto {
    text-align: left;

}

.ultimos_lancamentos_quadro_h3 {
    color: var(--laranja);
    
}

.ultimos_lancamentos_quadro_h4 {
    color: var(--azul-principal);

}

.ultimos_lancamentos_quadro_botao {
    border: 1px solid var(--laranja);
    background-color: var(--laranja);
    color: var(--branco-principal);
    padding: 12px 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.imagem_escritora {
    width: 9em;
}

.botao {
    display: grid;
    gap: 20px; /* Espaçamento entre os botões */
    justify-content: center;
    justify-items: center;
    width: 100%; /* Garante que os botões ocupem o espaço disponível */
    max-width: 800px; /* Limita a largura total */
    padding: 0;
    margin: 0;
    list-style: none;
}


.botao li {
    display: flex; /* Garante que o conteúdo do <li> use flexbox */
    gap: 10px; /* Espaçamento entre os <p> dentro do <li> */
}

.botao_l1 {
    margin-bottom: -1%;
}

.botao_l2 {
    margin-top: 0%;
}


