:root {
    --branco-principal: #FFFFFF;
    --azul-principal: #002F52;
    --azul-secundario: #EBECEE;
    --laranja: #EB9B00;
    --preto: #000000;
    --cinza-escuro: #474646;
    --cinza-medio: #858585;
    --cinza-claro: #C4C4C4;
}

.body {
    margin: 0;
    padding: 0;
    background-color: var(--branco-principal);
    color: var(--preto) ;
}

.menu {
    display: flex;
    margin: 1em 0;
}

.menu_lista_link {
   display: flex;
   list-style: none;
   margin: 0;
   padding-left: 0;
}

.menu_lista_perfil {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 20em;
    align-items: center;
}

.menu_texto {
    margin-left: 2em;
}

.titulo {
    padding: 3em;
    background-color: var(--azul-principal);
    color: var(--branco-principal);
    text-align: center;
}

.titulo_caixa {
    border: 1px solid;
    border-radius: 2em;
    padding: 1em;
}

.sub_titulo {
    color: var(--laranja);
    text-align: center;
}

.ultimos_lancamentos {
    background-color: var(--azul-secundario);
    display: flex;
}

.ultimos_lancamentos_livros {
    padding: 5em;
}

.ultimos_lancamentos_quadro {
    background-color: var(--branco-principal)
    padding: 5em;
    color: var(--laranja);
}

.ultimos_lancamentos_quadro {
    


}